/* Responsive layout - makes columns stack instead of next to each other */
@media screen and (max-width: 900px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
    .column img {
        margin-top: 4px;
        padding: 8px;
    }
    #imgs {
        width: 30%;
    }
    #descs {
        margin-left: 33%;
    }
    #content {
        padding: 8px;
    }
}

@media screen and (max-width: 750px) {
    .desc-headers-li {
        display: block;
    }
    #desc-header-underline {
        display: none;
    }
    .desc-header:active {
        text-decoration: underline;
    }
}

@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
    .column img {
        margin-top: 2px;
        padding: 4px;
    }
    #imgs {
        width: 20%;
    }
    #descs {
        margin-left: 23%;
    }
    #content {
        padding: 4px;
    }
}